{% extends "schedule_app/index.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'schedule_app/styles/dep_frame.css' %}">
{% endblock %}

{% block outer_frame %}
<form class="adding_dep-frame" action="{% url 'add_dep' %}" method="post">
    {% csrf_token %}
    <div class="input-block-1">
        {% for f in dep_form %}
        <p><label class="label number-{{ forloop.counter }}" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
        {% endfor %}
    </div>
    <div class="butt-block">
        <button type="submit">Подтвердить</button>
        <button type="reset">Сбросить</button>
    </div>
</form>
{% endblock %}

