*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: rgb(166,191,187)
}

.wrapper {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.fullscreen {
    background-color: rgb(195,215,216);
    display: flex;
    min-height: 85vh;
    padding: 2%;
    align-items: center
}

a {
    text-decoration: none;
}

.fullscreen__body {
    display: flex;
    background-color: rgb(237, 238, 226);
    flex: 1 1 auto;
    max-width: 300px;
    min-height: 100px;
    margin: 0px auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
}

div.fullscreen__body > .login_link {
    margin-top: 15px;
    text-align: center;
    font-size: x-large;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: solid;
    color: rgb(39, 49, 59);
}

div.fullscreen__body > .auth_form {
    display: grid;
    grid-gap: 15px;
    text-decoration: solid;
    color: rgb(39, 49, 59);
    text-align: center;
    font-size: large;
    letter-spacing: 2px;
}

input {
    border: 0px;
    border-radius: 40px;
    width:  200px;
    height: 35px;
}



