
.adding_dep-frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(237, 238, 226, 0.750);
    min-width: 30%;
    min-height: 35%;
    margin-left: 30%;
    position: absolute;
    border-radius: 10px;
}

.adding_dep-frame .label {
    text-decoration: solid;
    text-transform: capitalize;
    font-size: calc(8px + 1vw);
}

input {
    border-radius: 25px;
    width: 150px;
    height: 25px;
    border-color: black;
    border: 2px solid;
    padding: 0 15px 0 15px;
}

.input-block-1 {
    display: grid;
    gap: 10px;
    margin: 15px 0 15px 0;
    justify-content: center;
    margin-left: 35px;
}

.butt-block {
    margin-top: 40px;
    display: grid;
    gap: 10px;
    justify-content: center
}

button {
    background-color: rgb(72, 72, 72);
    font-size: small;
    text-transform: uppercase;
    color: rgb(237, 238, 226);
    border-radius: 25px;
    width: 150px;
    height: 40px;
}






