*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: rgb(166,191,187)
}

.wrapper {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.fullscreen {
    background-color: rgb(72, 72, 72);
    display: flex;
    min-height: 85vh;
    align-items: center;
    justify-content: center;
}

.fullscreen__body {
    min-width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: left;
    align-content: flex-start;
    flex-wrap: wrap;
}

.fullscreen__body .upper_tableau {
    display: flex;
    padding: 5px;
    width: 150%;
    height: 50px;
    background-color: rgb(195,215,216);
    align-self: flex-start;
    text-align: center;
}

.fullscreen__body .grid-menu {
    display: grid;
    min-width: 100%;
    text-align: center;
    grid-template-columns: 10% 90%;
    min-height: 80vh;
    /* column-gap: 8px; */
    margin-top: 8px;
}

.change_empl {
    min-width: 30%; 
    background-color: rgb(217,217,217);
}

.change_empl:hover {
    background-color: rgb(168,168,168);
}

.grid-menu .right_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(195,215,216);
    align-self: stretch;
    justify-content: center;
}

.grid-menu .left_menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 8px;
    padding-right: 8px;
    background-color: rgb(72, 72, 72);
    align-content: stretch;
    text-decoration: solid;
    text-transform: uppercase;
    font-size: calc(5px + 0.5vw);
    margin-bottom: 8px;
}

.left_menu .empl {
    background-color: rgb(195,215,216);
    min-height: 10vh;
    align-content: center;
    justify-content: center;
    transition-duration: 0.5s;
    padding: 8px;
    word-break: break-all
}

.left_menu .empl:hover {
    background-color: rgb(122,157,151);
    transition-duration: 0.5s;
}

.left_menu .empl:hover p {
    color: rgb(237, 238, 226);
    transition-duration: 0.5s;
}

.left_menu .butt-adding {
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 8px;
}

.left_menu .add_empl,.add_dep, .check_dep {
    background-color: rgb(237, 238, 226);
    min-height: 10vh;
    align-content: center;
    height: 50%;
    align-self: center;
    border-radius: 25px;
    margin-left: 8px;
    text-transform: uppercase;
    font-size: calc(1px + 1vw);
    padding: 10px;
    text-decoration: none;
}

div.right_block > aside.button_menu .button {
    background-color: rgb(129,173,176);
    flex-basis: 30%;
    align-content: center;
    text-decoration: solid;
    text-transform: uppercase;
    font-size: calc(5px + 1vw);
    letter-spacing: 2px;
}

div.right_block aside.button_menu {
    display: grid;
    gap: 2px;
    margin: 1em;
    margin-left: 15em;
    margin-right: 15em;
    flex-direction: row;
    grid-template-columns: repeat(auto-fill, 100%);
    word-break: break-all;
}

div.right_block div.schedule {
    display: grid;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-items: stretch; 
    justify-content: space-evenly;
    min-height: 80%;
    margin-left: 5em;
    margin-right: 5em;
}

div.right_block > div.schedule .day {
    background-color: rgb(166,191,187);
}

.footer {
    margin-top: auto;
    min-height: 10vh;
}

a {
    text-decoration: none;
}








